.display-linebreak {
    white-space: pre-wrap;
}

.msgContainer {
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 padding: 0 5%;
 margin-top: 50px;
}

.leftJustify {
    justify-content: flex-start;
}

.rightJustify {
    justify-content: flex-end;
}

.sender-label {
    display: flex;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    color: #828282;
    letter-spacing: 0.3px;
}

.sender-icon {
    display: flex;
    align-items: flex-end;
}

.bot-msg-label {
    /* padding-right: 10px; */
}

.user-msg-label {
    /* padding-left: 10px; */
}

.msgBubble {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
} 

.botBubbleColor {
    background: #F3F3F3;
}

.userBubbleColor {
    background: #39c6b6;
}

.msgText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    word-wrap: break-word;
} 

.botText {
    color: #353535;
}

.userText {
    color: white;
}

.bot-messages-img img {
    width: 80px;
}

.bot-messages-img {
    display:flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    padding: 0 10px;
}